<?xml version="1.0" encoding="UTF-8" ?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         cacheResult="false"
         backupGlobals="true"
         colors="true"
         verbose="true"
         stopOnError="true"
>
    <testsuites>
        <testsuite name="Test Connection">
            <file>tests/HttpClientTest.php</file>
        </testsuite>
        <testsuite name="Test Completion">
            <file>tests/SpaceTestCase.php</file>
        </testsuite>
    </testsuites>
</phpunit>